{% extends 'base.html.twig' %}

{% block title %}/Demande de reinitialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="vh-100 d-flex align-items-center justify-content-evenly">
                <div class="bg-glass p-5 shadows-custom rounded-3">
                    <h1 class="display-1 mb-3">
                        Demande de réinitialisation de mot de passe
                    </h1>
                    <p>
                       Pour réinitialiser votre mot de passe, saisisser les information demander dans les champ suivant. <span class="fw-bolder fst-italic">(Tous les champs sont obligatoires)</span>
                    </p>
                    {{ form_start(requestForm) }}
                        {{ form_row(requestForm.email) }}
                        <div class="d-grid col-lg-4 mx-auto mt-3">
                            <button class="btn btn-dark-custom rounded-pill">
                                Envoyer l'email
                            </button>
                        </div>
                        
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </section>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash_error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}
