@font-face {
    font-family: "DancingScript-Bold";
    src: url("../static/DancingScript-Bold.ttf");
}

@font-face {
    font-family: "DancingScript-Medium";
    src: url("../static/DancingScript-Medium.ttf");
}

@font-face {
    font-family: "DancingScript-Regular";
    src: url("../static/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "DancingScript-SemiBold";
    src: url("../static/DancingScript-SemiBold.ttf");
}
