// Colors variables
$dark-custom:       #046582;
$light-custom:      #F39189;
$primary-custom:    #6E7582;
$secondary-custom:  #BB8082;

// Table of heights:
$height-array: (
    10: 10vh,
    20: 20vh,
    40: 40vh,
    50: 50vh,
    60: 60vh,
    80: 80vh,
    100: 100vh,
)