<form class="btn btn-outline-danger" method="post" action="{{ path('app_websites_updates_delete', {'id': websites_update.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer l\'informations de mise à jour du site?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ websites_update.id) }}">
    <button class="btn m-0 p-0" title="Supprimer">
        <i class="bi bi-trash"></i>
    </button>
</form>
